{% extends 'base_two.html' %}
{% block content %}
{% load static %}

    <!-- ...:::: Start Breadcrumb Section:::... -->
    <div class="breadcrumb-section">
        <div class="breadcrumb-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-12 d-flex justify-content-between justify-content-md-between  align-items-center flex-md-row flex-column">
                        <h3 class="breadcrumb-title">Құпия сөзді ұмыттыңыз ба?</h3>
                        <div class="breadcrumb-nav">
                            <nav aria-label="breadcrumb">
                                <ul>
                                    <li><a href="/">Басты бет</a></li>
                                    <li class="active" aria-current="page">Құпия сөзді ұмыттыңыз ба?</li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- ...:::: End Breadcrumb Section:::... -->


    <!-- ...:::: Start Customer Login Section :::... -->
    <div class="customer_login">
        <div class="container">
            <div class="row justify-content-center">
                <!--login area start-->
                <div class="col-lg-6 col-md-6">
                    <div class="account_form" data-aos="fade-up"  data-aos-delay="0">
                        <h3>Парольді ұмыттым</h3>
                        <form action="{% url 'forgotPassword' %}" method="POST">
                            {% csrf_token %}
                            <div class="default-form-box mb-20">
                                <label>Пайдаланушы аты немесе электрондық пошта <span>*</span></label>
                                <input type="email" name="email" placeholder="Электрондық поштаның адресі" >
                            </div>
                            <div class="login_submit">
                                <button class="mb-20" type="submit">Жіберу</button>
                                <a href="{% url 'login' %}">Құпия сөз бар ма? Жүйеге кіру</a>
                                <p class="text-center mt-4">Есептік жазбаңыз жоқ па? <a style="color: red" href="{% url 'register' %}">Тіркелу</a></p>
                            </div>
                        </form>
                    </div>
                </div>
                <!--login area start-->
            </div>
        </div>
    </div> <!-- ...:::: End Customer Login Section :::... -->




{% endblock %}