{% extends 'base_two.html' %}
{% load static %}

{% block content %}

 <!-- ...:::: Start Breadcrumb Section:::... -->
    <div class="breadcrumb-section">
        <div class="breadcrumb-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-12 d-flex justify-content-between justify-content-md-between  align-items-center flex-md-row flex-column">
                         <h3 class="breadcrumb-title">{{ title }}</h3>
                        <div class="breadcrumb-nav">
                            <nav aria-label="breadcrumb">
                                <ul>
                                    <li><a href="/">Басты бет</a></li>
                                    <li class="active" aria-current="page">Жеткізу шарттары</li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- ...:::: End Breadcrumb Section:::... -->

 <!-- ...::::Start Privacy Policy  Section:::... -->
    <div class="privacy-section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="privacy-policy-wrapper">
                        <!-- Start Privacy Policy Single Item -->
                        <div class="privacy-single-item" data-aos="fade-up"  data-aos-delay="0">
                            <h4>ЖЕТКІЗУ ТУРАЛЫ АҚПАРАТ</h4>
                            <p>Ernur Auto Emporium енді өз бөлшектерін жеткізу және жеткізуді ұсынады.</p>
                        </div> <!-- Start Privacy Policy Single Item -->


                        <!-- Start Privacy Policy Single Item -->
                        <div class="privacy-single-item" data-aos="fade-up"  data-aos-delay="0">
                            <h4>ЕСКЕРТУ:</h4>
                            <p>16:00-ден кейін берілген тапсырыстар келесі күні өңделеді, жеткізу қызметіне 1 жұмыс күні қосылады. «Келесі жұмыс күнін» таңдаған кезде - жұма күні сағат 16.00-ден кейін берілген тапсырыстар келесі жұмыс күні, яғни келесі дүйсенбіде жеткізіледі. Жұмыс күні емес (сенбі немесе жексенбі) тапсырыстар үшін жеткізу күніне 1 жұмыс күнін қосыңыз.</p>
                        </div> <!-- Start Privacy Policy Single Item -->

                         <!-- Start Privacy Policy Single Item -->
                        <div class="privacy-single-item" data-aos="fade-up"  data-aos-delay="0">
                            <h4></h4>
                            <p>Егер сіздің затыңыз артық салмақ болса (100 кг-нан асса) немесе сіз шалғай аймақта болсаңыз, сізге қосымша ақы алынуы мүмкін. Олай болса, төлемді жүйе жүйеміз арқылы автоматты түрде есептеп шығарады.</p>
                        </div> <!-- Start Privacy Policy Single Item -->

                         <!-- Start Privacy Policy Single Item -->
                        <div class="privacy-single-item" data-aos="fade-up"  data-aos-delay="0">
                            <h4></h4>
                            <p>Үнемді жеткізу көлеміне байланысты тұтынушыларға қызмет көрсету орталығына хабарласпас бұрын толық 7 жұмыс күні күтіңіз. Барлық жеткізу уақыты шамамен берілген және біздің бақылауымыздан тыс жағдайларға байланысты кешіктірілуі мүмкін.</p>
                        </div> <!-- Start Privacy Policy Single Item -->

                         <!-- Start Privacy Policy Single Item -->
                        <div class="privacy-single-item" data-aos="fade-up"  data-aos-delay="0">
                            <h4></h4>
                            <p>Жексенбі немесе банктік/мереке күндері жеткізілім жүргізілмейді.
                                Жеткізу мерзімдері қоймада деп белгіленбеген тауарлар үшін әр түрлі болады.</p>
                        </div> <!-- Start Privacy Policy Single Item -->

                         <!-- Start Privacy Policy Single Item -->
                        <div class="privacy-single-item" data-aos="fade-up"  data-aos-delay="0">
                            <h4>ҚОСЫМША АҚПАРАТ: Банктік/ Мерекелер</h4>
                            <p>Банктік/мереке күндері жеткізу мүмкін емес. Банкке/Мемлекеттік мерекеге келетін кез келген жеткізілімдер келесі жұмыс күні жеткізіледі. Сонымен қатар, операциялар банктік/мереке күндері жабылады, сондықтан банктік/мереке күндері берілген тапсырыстар келесі жұмыс күніне дейін жіберілмейді.</p>
                        </div> <!-- Start Privacy Policy Single Item -->

                    </div>
                </div>
            </div>
        </div>
    </div> <!-- ...::::End Privacy Policy Section:::... -->



{% endblock %}