{% extends 'base_two.html' %}
{% load static %}

{% block content %}

 <!-- ...:::: Start Breadcrumb Section:::... -->
    <div class="breadcrumb-section">
        <div class="breadcrumb-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-12 d-flex justify-content-between justify-content-md-between  align-items-center flex-md-row flex-column">
                         <h3 class="breadcrumb-title">{{ title }}</h3>
                        <div class="breadcrumb-nav">
                            <nav aria-label="breadcrumb">
                                <ul>
                                    <li><a href="/">Басты бет</a></li>
                                    <li class="active" aria-current="page">Құпиялық шарттары</li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- ...:::: End Breadcrumb Section:::... -->

 <!-- ...::::Start Privacy Policy  Section:::... -->
    <div class="privacy-section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="privacy-policy-wrapper">
                        <div class="privacy-single-item" data-aos="fade-up"  data-aos-delay="0">
                            <h4>ҚҰПИЯЛЫҚ ШАРТТАРЫ</h4>
                            <p>Ernur Auto Emporium бөлшектері ("Біз") сіздің жеке өміріңізді қорғауға және құрметтеуге міндеттенеді.
                                Бұл саясат (біздің пайдалану шарттарымен және оған сілтеме жасалған кез келген басқа құжаттармен бірге) біз сізден жинайтын немесе бізге берген кез келген жеке деректер бізбен өңделетін негізді белгілейді. Сіздің жеке деректеріңізге қатысты көзқарастарымыз бен тәжірибелерімізді және оған қалай қарайтынымызды түсіну үшін төмендегіні мұқият оқып шығыңыз. www.ernurautoemporium.com сайтына кіру арқылы сіз осы саясатта сипатталған тәжірибелерді қабылдайсыз және келісесіз.</p>
                        </div>


                        <div class="privacy-single-item" data-aos="fade-up"  data-aos-delay="0">
                            <h4>1-БӨЛІМ - БІЗ ЖИНАЙМЫЗ</h4>
                            <p>Бұған біздің сайтты пайдалану үшін тіркелу, қызметімізге жазылу, тауарларды сатып алу, материалдарды жариялау немесе қосымша қызметтерді сұрау кезінде берілген ақпарат кіреді. Сондай-ақ біздің сайтқа қатысты мәселе туралы хабарлағанда сізден ақпарат сұрауымыз мүмкін.</p>
                        </div>

                        <div class="privacy-single-item" data-aos="fade-up"  data-aos-delay="0">
                            <h4>2-БӨЛІМ - БІЗ СІЗДІҢ АҚПАРАТЫҢЫЗМЕН НЕ ЖАСАЙМЫЗ</h4>
                            <p>Біз бұл ақпаратты сіздің қажеттіліктеріңізді түсіну және сізге жақсырақ қызмет көрсету үшін, атап айтқанда келесі себептер бойынша талап етеміз:
                                Ішкі іс қағаздарын жүргізу
                                Біз ақпаратты өнімдеріміз бен қызметтерімізді жақсарту үшін пайдалануымыз мүмкін. Біз сіз көрсеткен электрондық пошта мекенжайын пайдаланып, жаңа өнімдер, арнайы ұсыныстар немесе сізге қызықты болуы мүмкін басқа ақпарат туралы жарнамалық электрондық хаттарды мерзімді түрде жібере аламыз. Біз сізбен электрондық пошта арқылы байланысуымыз мүмкін.Кейде біз сіздің ақпаратыңызды нарықты зерттеу мақсатында сізбен байланысу үшін пайдалана аламыз.Біз ақпаратты веб-сайтты сіздің мүдделеріңізге сәйкес реттеу үшін пайдалана аламыз.
                                Қауіпсіздік
                                Сіздің жеке ақпаратыңызды қорғау үшін біз ақылға қонымды сақтық шараларын қолданамыз және оның орынсыз жоғалып кетпеуіне, дұрыс пайдаланылмауына, қол жеткізілмеуіне, жарияланбауына, өзгертілмеуіне немесе жойылмағанына көз жеткізу үшін саланың озық тәжірибелерін ұстанамыз. Егер сіз бізге несие картаңыздың ақпаратын берсеңіз, ақпарат қауіпсіз түрде шифрланады. розеткалық деңгей технологиясы (SSL) және AES-256 шифрлауымен сақталады. Интернет немесе электронды сақтау арқылы берудің ешбір әдісі 100% қауіпсіз болмаса да, біз барлық PCI-DSS талаптарын орындаймыз және жалпы қабылданған қосымша салалық стандарттарды енгіземіз.</p>
                        </div> 

                        <div class="privacy-single-item" data-aos="fade-up"  data-aos-delay="0">
                            <h4>3-БӨЛІМ - КЕЛІСІМ</h4>
                            <p>Транзакцияны аяқтау, несиелік картаңызды растау, тапсырыс беру, жеткізуді ұйымдастыру немесе сатып алуды қайтару үшін бізге жеке ақпаратты берген кезде, біз оны жинауға және оны тек осы нақты мақсатта пайдалануға келісесіз дегенді білдіреміз. Маркетинг сияқты қосымша себеппен жеке ақпаратыңызды сұраңыз, біз сізден тікелей келісіміңізді сұраймыз немесе жоқ деп айту мүмкіндігін береміз.
 </p>
                        </div> 

                        <div class="privacy-single-item" data-aos="fade-up"  data-aos-delay="0">
                            <h4>4-БӨЛІМ - IP АДРЕСТЕРІ ЖӘНЕ COOKIE ФАЙЛДАРЫ</h4>
                            <p>Жүйені басқару және жарнама берушілерге жиынтық ақпаратты хабарлау үшін компьютеріңіз туралы ақпаратты, соның ішінде қол жетімді IP мекенжайыңызды, операциялық жүйеңізді және браузер түрін жинай аламыз. Бұл біздің пайдаланушылардың шолу әрекеттері мен үлгілері туралы статистикалық деректер және ешқандай жеке тұлғаны анықтамайды
                                Дәл сол себепті біз сіздің компьютеріңіздің қатты дискісінде сақталған cookie файлын пайдалану арқылы жалпы интернетті пайдалануыңыз туралы ақпаратты ала аламыз. Cookie файлдары компьютердің қатты дискісіне тасымалданатын ақпаратты қамтиды. Олар сайтымызды жақсартуға және жақсырақ және жекелендірілген қызмет көрсетуге көмектеседі. Олар бізге аудитория көлемін және пайдалану үлгісін бағалауға, іздеуді жылдамдатуға, сайтымызға оралған кезде сізді тануға, қалауларыңыз туралы ақпаратты сақтауға мүмкіндік береді, осылайша біздің сайтты жеке қызығушылықтарыңызға сәйкес реттеуге мүмкіндік береді.
                                Ernur Auto Emporium веб-сайты транзакцияны аяқтамаған кезде себетіңіздің мазмұнын сақтайды. Егер сіз ernurautoemporium.com веб-сайтынан тапсырыс берместен шықсаңыз, жүйе себетіңізге қосқан элементтеріңізді есте сақтайды және сізге еске салғышы бар электрондық хат жібереді. Біз мұны сіздің сатып алу тәжірибеңіз мүмкіндігінше қиындықсыз болуын қамтамасыз ету үшін жасаймыз. Болашақта бұл электрондық хаттарды алғыңыз келмесе, сізге келген электрондық поштаның төменгі жағындағы жазылудан бас тарту сілтемесін басыңыз.</p>
                        </div> 

                        <div class="privacy-single-item" data-aos="fade-up"  data-aos-delay="0">
                            <h4>5-БӨЛІМ - БАСҚА ВЕБ-САЙТТАРҒА ЖӘНЕ ҮШІНШІ ТАРАПТАРҒА СІЛТЕМЕЛЕР</h4>
                            <p>Біздің веб-сайтымызда басқа қызықты веб-сайттарға сілтемелер болуы мүмкін. Дегенмен, біздің сайттан шығу үшін осы сілтемелерді пайдаланғаннан кейін, бізде бұл басқа веб-сайтқа ешқандай бақылау жоқ екенін ескеру қажет. Сондықтан, мұндай сайттарға кіру кезінде сіз беретін кез келген ақпараттың қорғалуына және құпиялылығына жауап бере алмаймыз және мұндай сайттар осы құпиялылық туралы мәлімдемемен реттелмейді. Сақтық танытып, осы веб-сайтқа қатысты құпиялылық мәлімдемесін қарау керек.
                                Біз сіздің жеке ақпаратыңызды үшінші тұлғаларға аша аламыз:
Егер біз кез келген заңды міндеттемені орындау үшін немесе пайдалану шарттарын немесе жеткізу шарттары мен шарттарын және басқа келісімдерді орындау немесе қолдану үшін сіздің жеке деректеріңізді ашуға немесе бөлісуге міндетті болсақ; немесе Auto Surgeons Limited компаниясының, тұтынушыларымыздың немесе басқалардың құқықтарын, мүлкін немесе қауіпсіздігін қорғау үшін. Бұған алаяқтықтан қорғау және несиелік тәуекелді азайту мақсатында басқа компаниялармен және ұйымдармен ақпарат алмасу кіреді.</p>
                        </div>

                        <div class="privacy-single-item" data-aos="fade-up"  data-aos-delay="0">
                            <h4>6-БӨЛІМ - СІЗДІҢ ҚҰҚЫҚТАРЫҢЫЗ</h4>
                            <p>Сіз өзіңіздің жеке ақпаратыңызды жинауды немесе пайдалануды келесі жолдармен шектеуді таңдай аласыз: сізден веб-сайттағы пішінді толтыру сұралғанда, ақпараттың болуын қаламайтыныңызды көрсету үшін басуға болатын жолақты іздеңіз. тікелей маркетинг мақсатында кез келген адам пайдаланады. Егер сіз бұрын жеке ақпаратыңызды тікелей маркетингтік мақсаттарда пайдалануға келіскен болсаңыз, support@ernurautoemporium.com электрондық поштасына немесе электрондық поштаға жіберу арқылы кез келген уақытта өз пікіріңізді өзгерте аласыз. Біз сіздің жеке ақпаратыңызды үшінші тұлғаларға сатпаймыз, таратпаймыз немесе жалға бермейміз. сіздің рұқсатыңыз болмаса немесе заң талап етпесе. Егер сізде сақталған кез келген ақпарат дұрыс емес немесе толық емес деп есептесеңіз, жоғарыда көрсетілген мекенжай бойынша мүмкіндігінше тезірек бізге жазыңыз немесе электрондық хат жіберіңіз. Біз қате деп танылған кез келген ақпаратты дереу түзетеміз</p>
                        </div>

                        <div class="privacy-single-item" data-aos="fade-up"  data-aos-delay="0">
                            <h4>7-БӨЛІМ - КЕЛІСІМ ЖАСАҒЫ</h4>
                            <p>Осы сайтты пайдалану арқылы сіз өзіңіздің штатыңызда немесе провинцияңызда кем дегенде кәмелеттік жасқа толғаныңызды немесе штатыңызда немесе провинцияңызда кәмелеттік жасқа толғаныңызды білдіресіз және бізге мыналардың кез келгеніне рұқсат беруге келісіміңізді бердіңіз. кәмелетке толмаған асырауындағыларыңыз осы сайтты пайдалана алады.</p>
                        </div> 

                        <div class="privacy-single-item" data-aos="fade-up"  data-aos-delay="0">
                            <h4>8-БӨЛІМ - ОСЫ ҚҰПИЯЛЫҚ ШАРТТАРЫНЫҢ ӨЗГЕРІСТЕРІ</h4>
                            <p>Біз осы құпиялылық саясатын кез келген уақытта өзгерту құқығын сақтаймыз, сондықтан оны жиі қарап шығыңыз. Өзгерістер мен түсініктемелер веб-сайтта жарияланғаннан кейін бірден күшіне енеді. Осы саясатқа елеулі өзгерістер енгізетін болсақ, біз қандай ақпаратты жинайтынымыз, оны қалай пайдаланатынымыз және қандай жағдайларда, егер бар болса, қолданатынымыз және/немесе ашатынымыз туралы хабардар болу үшін оның жаңартылғаны туралы хабарлаймыз. it.Егер біздің дүкен сатып алынса немесе басқа компаниямен біріктірілсе, сізге өнімдерді сатуды жалғастыруымыз үшін ақпаратыңыз жаңа иелеріне берілуі мүмкін.</p>
                        </div> 

                    </div>
                </div>
            </div>
        </div>
    </div> 



{% endblock %}